/*built in styles*/

body {
    
    color: #333;
    background-color: #77746f;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url(img/crumpled-paper-small.png);
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

button {
        background-color: #4caf4f00; /* Green background color */
        color: rgb(31, 31, 31); /* White text color */
        padding: 10px 20px; /* Padding for better readability */
        border: none; /* Remove default button border */
        border-radius: 5px; /* Optional: Add rounded corners */
        font-family: "broadsheet", serif;
        font-size: 15pt;
}

button:hover {
    font-style: bold; /* Darker green on hover */
}

.mobile{
    display: none;
    visibility: hidden;
}
#scrollToTopBtn{
    position: absolute;
    top: 300%;
}
img{
    width: 100%;
    object-fit: cover;
}


h1{
    font-family: "john-doe", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20pt;
    padding: 0%;
    width: 30%;
}

#abstract{
    font-family: "broadsheet", serif;
}

p{
    font-size: 15pt;
    font-family: "broadsheet", serif;
    font-weight: 400;
    font-style: normal;
    width: 80%;
    font-size: 25px;
    padding: 5%;

}

a {
    color: #f2d1b7; 
    font-size: 19pt;
    font-family: "broadsheet", serif;
}
/*styles for content, in order*/

.spacer{
    height: 15%;
}

.spacer-big{

    width: 200px;
    height: 200px;
}

article.fact{
    position: absolute;
    left: 30%;
    top: 107%;
}

.bee{
    width: 30% !important;
    height: 30% !important;
    object-fit: contain;
    position: absolute;
    top: 200%;
    left: 0%;
}

.title-page {
    opacity: 1 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50%;
    padding-left: 0%;
    padding-right: 0%;
    object-fit: contain;
    margin-top: 30%;
    font-family: "john-doe", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: x-large;
    width: 40%;
    max-height: 60%;
    z-index: 3;
}

.trigger-warning{
    font-size: 14pt;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.hidden-on-load{
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 5% !important;

    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.flex img{
    width: 100%;
}

#introduction{
    margin-bottom: 30%;
    margin-top: -30%;
}

#watercolor1{
    margin-bottom: 30%;
    margin-top: 0%;
}

.watercolor-2{
    margin-top: -35%;

}
.explaination,.mp-body, .national-stat,.help{
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 0%;

    position: relative;
    display: inherit;
    z-index: 5;
  
}

.container{
    position: absolute;
    margin-left: 20%;
    
}

article.state-wide {
    position: absolute;
    top: 110%;
    left: 30%;
}

article.why {
    position: relative;
    right: 20%;
    margin-top:80%;
    margin-left:30%;
}
article.barriers-nc{
        position: relative;
        left: 0%;
        width: 100%;
        margin-top: 190%;
    }

article.explaination{
    position: absolute;
    margin-top: -10%;
}

article.resources{
    position: absolute;
}

article.help{
    position: relative;
    margin-top: 60%;
}
.maps{
    position: relative;
    margin-top: 7%;
    width: 80%;
    z-index: 10;
}

.maps-row{
    display: flex;
    align-items: center;
}
.national-stat{
    z-index: 2;
}

#honeysuckle1{
    position: absolute;
    z-index: 0;
    width: 50%;
    right: 55%;
}


#map-1{
    z-index: 10;
}
.flourish-map{
    width: 100% !important;
}

#church {
    z-index: 0;
    position: absolute;
    margin-top: 60%;
}

.middle{
    position: absolute;
    bottom: 90%;
    right: 30%;
}
#paper{
    z-index: 1;
    position: absolute;
}

.fg{
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 200%;
    right: 8%;
}


.final {
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        z-index: 5;
        top: 200%;
}

.help {
    width: 80%;
}

#bottom-paper{
    z-index: 0;
    max-width: 100%;
    position: absolute;
    top: 60%;
}

#dogwood{
    position:absolute;
    z-index: 0; 
    width: 50%;
    left:50%;
}


.western-nc-map{
    width: 100%;
    height: 100%;
}

.pin-point-map{
    width: 100%;
    height: 100%;
}

/* Hide the vertical scroll bar */
body::-webkit-scrollbar {
    width: 0.5em; 
}

body::-webkit-scrollbar-track {
    background-color: transparent; 
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

/* Hide the horizontal scroll bar */
body::-webkit-scrollbar-horizontal {
    height: 0.5em; 
}

body::-webkit-scrollbar-thumb:horizontal {
    background-color: transparent; 
}



/* Media query for mobile screens */
@media only screen and (max-width: 600px) {
    /* Styles for mobile screens */

    /* Display the message for mobile users */
    .mobile{
        display: block;
        visibility: visible;
    }
    body{
        display: none;
    }
}
/*

fonts{
   font-family: "nitti-typewriter-cameo", sans-serif;
    font-weight: 700;
    font-style: normal;

} 


*/


